.container{
   text-align: center;
   margin-top: 23px;
}
table{
    margin: auto;
}
button{
   font-size: 40px;
   width: 55px;
   height: 55px;
   background-color: rgb(143, 112, 112);
   border-radius: 21px;
}

input{
    font-size: 34px;
    width: 300px;
    border-radius: 20px;
}